.allPosts {
  display: flex;
  background-color: #222831;
  flex-direction: column;
  min-width: 1200px;
  min-height: 1200px;
  padding: 20px 200px;
  border-radius: 10px;
  margin: 8px 0;
}

.singlePost {
  display: flex;
  background-color: #222831;
  flex-direction: column;
  min-width: 1200px;
  padding: 20px 40px;
}

.separator {
  border: 1px solid #393e46;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header,
.singlePostHeader {
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 20px;
}

.header:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.postWrapper {
  align-items: center;
  font-family: "Gill Sans";
  max-width: 1200px;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

.username {
  font-size: 16px;
  margin-left: 1px;
  text-transform: capitalize;
}

.postBody {
  font-size: 22px;
}

.toggleCommentsButton {
  width: fit-content;
  padding: 8px 20px;
  color: #1a0dab;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 18px;
  user-select: none;
}

.toggleCommentsButton:hover {
  cursor: pointer;
  background-color: #222831;
  color: rgb(233, 233, 233);
  border-radius: 5px;
}

.toggleCommentsButton:visited {
  background-color: #222831;
  color: rgb(233, 233, 233);
  border-radius: 5px;
}

.commentSection {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #222831;
  padding: 20px;
  border-radius: 50px;
  margin: auto;
}

.commentTitle {
  font-size: 16px;
  margin: auto;
  margin-bottom: 12px;
}

.comment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.commentSeparator {
  border-top: 1px solid #e4f1fe;
  border-radius: 50px;
  width: 20%;
  margin: auto;
  margin-bottom: 10px;
}

.commentName {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.commentBody {
  filter: opacity(0.9);
  font-size: 14px;
}

.searchInput {
  width: 210px;
  height: 20px;
  outline: none;
}

.noResultsSearch {
  margin: 20px 0 0 5px;
  font-size: 24px;
  color: #fff;
}

.loadingText {
  font-size: 32px;
  font-weight: bold;
}
